#car_btn, #house_btn, #plug_btn, #plant_btn, #xmastree_btn, #toilet-paper_btn{
    font-size: 20px;
    border-radius: 5px;
}

header{
    background-color: rgb(148, 147, 147);
    margin: 0px 0px;
    padding: 1px 0px;
}

body{
    margin: 0px;
}

#head{
    margin: 5px 0px;
    text-align: center;
    letter-spacing: 10px;
    color: rgb(58, 55, 55);
}

#car_img{
    width: 50%;
}

#house_img {
    width: 50%;
}

#plug_img {
    margin-top: 10px;
    width: 50%;
}

#plant_img {
    margin-top: 10px;
    width: 50%;
}

#xmastree_img {
    margin-top: 10px;
    width: 50%;
}

#toilet-paper_img {
    margin-top: 10px;
    width: 50%;
}

.car-group{
    text-align: center;
    border:5px #87858b solid;
    margin: 10px 10px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.house-group{
    text-align: center;
    border:5px #87858b solid;
    margin: 10px 10px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.plug-group{
    text-align: center;
    border:5px #87858b solid;
    margin: 10px 10px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.plant-group{
    text-align: center;
    border:5px #87858b solid;
    margin: 10px 10px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.xmastree-group{
    text-align: center;
    border:5px #87858b solid;
    margin: 10px 10px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.toilet-paper-group{
    text-align: center;
    border:5px #87858b solid;
    margin: 10px 10px;
    padding-bottom: 5px;
    border-radius: 5px;
}

