#sensor_1 { 
    font-size: 60px; 
    pointer-events: 
    auto!important; 
}

#sensor_2 { 
    font-size: 60px; 
    pointer-events: 
    auto!important; 
}

#sensor_3 { 
    font-size: 60px; 
    pointer-events: 
    auto!important; 
}