#sensor_1 { 
    font-size: 60px; 
    pointer-events: 
    auto!important; 
}

#sensor_2 { 
    font-size: 60px; 
    pointer-events: 
    auto!important; 
}

#sensor_3 { 
    font-size: 60px; 
    pointer-events: 
    auto!important; 
}

#t1{
    border:3px #cccccc solid;
}

#box1, #box2, #box3{
    border: 2px #b83c3c solid;
    padding:20px;
    margin-right:10px;
    float:left;
    line-height:50px;
    width:200px;
    text-align:center;
}