body{
    text-align: center;
}

#sun_img, #climbing1, #climbing2, #climbing3, #climbing4, #climbing5 {
    margin-top: 10px;
    width: 200px;
}

#t1{
    margin: 0px;
    margin-top: 5px;
}

#d1{
    margin:10px auto;
    text-align: center;
    border:2px blue solid;
    padding-bottom: 5px;
}

#d11{
    display: inline-block;
    
}

#d12{
    display: inline-block;
}
